/* AUTHEN CSS */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
   margin-top: 0 ;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 8px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px ;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn-text {
    margin-right: 10px;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    color: blue;
}
.auth-form__socials-fb {
    background-color: blue;
}
.auth-form__socials-gg {
    background-color: var(--white-color);
}

.auth-form__socials-fb,
.auth-form__socials-icon {
    color: var(--white-color);
}
.auth-form--socials-label {
    margin: 0 36px;
    font-size: 1.2rem;
}
.fab.fa-google {
    color: blue;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}


.auth-form__help-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    margin: 2px 16px 0;
    border-left: 1px solid var(--border-color);
    
}

.auth-form__help--forget {
    color: var(--primary-color);

}